input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none;
	appearance:none;
	margin:0;
}

p
{
font-size:18px;
font-family:verdana;
}
input
{
	border-radius:5px;
	border:1px solid black;
}
#password
{
	border-radius:5px;
	border:1px solid black;
}
#c
{
	border-radius:5px;
	border:1px solid black;
	position:relative;
	
}
button{
	border-radius:5px;
	border:1px solid black;
}
body
{
	
	background-image:url('pink_bg.jpg');
}
.authors-list

{
	
	background: rgba(255,255,255,.3);
}