#images
{
position:absolute;
width:1380px;
height:500px;	

top:200px;
left:-10px;
}
a{
color:black;
}

#look
{
	position:absolute;
	top:10px;
	left:590px;
}
#look_text
{
	
	color:black;
	text-decoration:none;
	position:relative;

	font-family:Verdana;
	text-align:center;
	top:102px;
	left:-10px;
	height:90px;
	width:100px;
	font-size:20px;
	
}
#shop_w
{
	position:absolute;
	text-align:center;
	font-family:verdana;
	font-size:20px;
	top:530px;
	left:500px;
	letter-spacing:1px;
	
	text-decoration:none;
	cursor:pointer;
}
#shop_m
{
	position:absolute;
	text-align:center;
	font-family:verdana;
	font-size:20px;
	top:530px;
	left:670px;
	letter-spacing:1px;
	
	text-decoration:none;
	cursor:pointer;
}
#shop_k
{
	position:absolute;
	text-align:center;
	font-family:verdana;
	font-size:20px;
	top:530px;
	left:780px;
	letter-spacing:1px;
	
	text-decoration:none;
	cursor:pointer;
}